flows.json
[
    {
        "id": "c7ef0d4a796c4279",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt1",
        "type": "mqtt in",
        "z": "c7ef0d4a796c4279",
        "name": "Dispositivo 1",
        "topic": "fiap/gs/desastre/dispositivo1",
        "qos": "2",
        "datatype": "json",
        "broker": "broker1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "function1"
            ]
        ]
    },
    {
        "id": "mqtt2",
        "type": "mqtt in",
        "z": "c7ef0d4a796c4279",
        "name": "Dispositivo 2",
        "topic": "fiap/gs/desastre/dispositivo2",
        "qos": "2",
        "datatype": "json",
        "broker": "broker1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "function1"
            ]
        ]
    },
    {
        "id": "mqtt3",
        "type": "mqtt in",
        "z": "c7ef0d4a796c4279",
        "name": "Dispositivo 3",
        "topic": "fiap/gs/desastre/dispositivo3",
        "qos": "2",
        "datatype": "json",
        "broker": "broker1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "function1"
            ]
        ]
    },
    {
        "id": "function1",
        "type": "function",
        "z": "c7ef0d4a796c4279",
        "name": "Processa Dados",
        "func": "// Exemplo: acrescenta o timestamp e o tópico de origem\nmsg.payload.timestamp = new Date().toISOString();\nmsg.payload.origem = msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 280,
        "wires": [
            [
                "debug1"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "c7ef0d4a796c4279",
        "name": "Ver dados dos dispositivos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "broker1",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]